<article class="post">

    <% if (post.title) { %>
        <h1 class="post-title"><%- post.title %></h1>
    <% } %>

    <% if (post.type ==='photo') { %>
        <figure class="post-image">
            <img src="<%- post.photos[0].original_size.url %>" alt=""/>
        </figure>
    <% } %>

    <% if (post.caption || post.body) { %>
        <section class="post-content">
            <%= post.caption || post.body || '' %>
        </section>
    <% } %>

    <section class="debug-info">
        <p>Post ID: <%= post.id %></p>
        <p>Post type: <%= post.type %></p>
        <p>Post URL: <%= post.post_url %></p>
        <p>Post data keys: <%- _.keys(post).join(', ') %></p>
    </section>

</article>
